/*FONTE*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

/*BOTÃO MENU*/

.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: #1c3ccd;
    right: 10px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: white;
    z-index: 999;
    font-size: 30px;
    border-radius: 7px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

p,
ul,
ol {
    font-family: 'Poppins', sans-serif;
    color: white;
}

h1,
h2,
h3 {
    font-family: 'Patua One', cursive;
    color: #1c3ccd;
}